/** @format */

body {
	padding: 0;
	margin: 0;
	background-color: black;
}
#meny {
	width: 600px;
	padding: 0;
	padding-left: 3em;
	margin: 0;
}
@media only screen and (min-width: 600px) {
	#meny {
		width: 800px;
	}
}
@media only screen and (min-width: 800px) {
	#meny {
		width: 1000px;
	}
}
@media only screen and (min-width: 1000px) {
	#meny {
		width: 1280px;
	}
}
