---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bebidas">
    <div>
        <img
            id="meny"
            src="/img/11-12.jpg"
            alt="Bebidas"
        />

        <div class="small-grid">
            <img             id="meny"
 src="/img/13.jpg" alt="Vino Blanco" />
            <img             id="meny"
 src="/img/14.jpg" alt="Vino Blanco" />
            <img             id="meny"
 src="/img/15.jpg" alt="Vino Rosado" />
        </div>
    </div>
</Layout>

<style>
    html {
        background-color: white;
    }
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #meny {
        width: 95vw;
        padding: 0;
        margin: 0;
    }
 

    /* Grid for small images: two per row when there's enough space */
    .small-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        width: 95vw;
        padding: 0;
        margin: 0 auto;
        justify-items: center;
        justify-content: center;    

    }

    .small-grid #meny {
        width: 100%;
        object-fit: contain;
    }

    @media only screen and (min-width: 1000px) {
        #meny {
            width: 70vw;
        }
        .small-grid #meny {
        width: 80%;
        object-fit: contain;
    }
    }
</style>
