---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bebidas">
    <div>
        <img
            id="meny"
            src="/img/11 Carta A4 2023 345 Bebidas.jpg"
            alt="Bebidas"
        />
        <img
            id="meny"
            src="/img/12 Carta A4 2023 345 Vino Blanco.jpg"
            alt="Vino Blanco"
        />
        <img
            id="meny"
            src="/img/13 Carta A4 2023 345 Vino Rosado.jpg"
            alt="Vino Rosado"
        />
        <img
            id="meny"
            src="/img/14 Carta A4 2023 345 Vino Tinto.jpg"
            alt="Vino Tinto"
        />
        <img
            id="meny"
            src="/img/15 Carta A4 2023 345 Alcohol.jpg"
            alt="Alcohol"
        />
    </div>
</Layout>

<style>
    html {
        background-color: white;
    }
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #meny {
        width: 95vw;
        padding: 0;
        margin: 0;
    }
    @media only screen and (min-width: 1000px) {
        #meny {
            width: 70vw;
        }
    }
</style>
