---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Pizza 345">
	<main>
		<div class="flex-container">
			<img src="/img/logo.jpg" alt="logo" id="logo" />
			<a  href="/carta">
				<div class="box">Carta | Menu</div>
			</a>
			<br />
			<a  href="/bebidas">
				<div class="box">Bebidas | Beverages</div>
			</a>
			<br />
			<a href="/menu">
				<div class="box">Menú del dia</div>
			</a>
			 <br /><!-- 
		  <a href="./festivo.html">
			<div class="box">Menú Festivo</div>
		  </a>  -->
			<footer>
				<p class="footer">Domicilio | Take away</p>
				<p class="footer">Calle Sant Pere 34</p>
				<p class="footer">tlf: 965 840 324</p>
			</footer>
		</div>
	</main>
</Layout>

<style>
	#logo {
		width: 30vh;
		align-content: center;
		height: 20%;
		margin-left: auto;
		margin-right: auto;
	}

	.box {
		width: 60%;
		height: 5%;
		padding: 20px;
		margin-left: auto;
		margin-right: auto;
		background-color: #333;
		margin-bottom: 40px;
		text-align: center;
	}

	a {
		color: aliceblue;
		text-decoration: none;
		font-family: "Raleway", sans-serif;
		font-size: 4vw;
	}

	.flex-container {
		display: flex;
		flex-direction: column;
		margin-top: 0%;
		margin-bottom: 0%;
		width: 100%;
	}
	.footer {
		align-self: center;
		color: aliceblue;
		text-decoration: none;
		font-family: "Raleway", sans-serif;
		font-size: 2vw;
		text-align: center;
		margin: 0px;
		padding: 0px;
	}

	@media only screen and (min-width: 1000px) {
		a {
			font-size: 2vw;
		}
	}
</style>
