---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Menú del dia Fin de semana">
  <div>
    <img id="meny" src="/img/17.jpg" alt="Menú del dia Fin de semana" />
    <img id="meny" src="/img/18.jpg" alt="Menú del dia Fin de semana" />
  </div>
</Layout>

<style>
  html {
    padding: 0;
    margin: 0;
    background-color: #000000;
  }
  div {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
  }
  #meny {
    width: 47vw;
    padding: 0;
    margin: 0;
  }
  @media only screen and (min-width: 1000px) {
    #meny {
      width: 40vw;
    }
  }
</style>
