---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Menú del dia">
    <div>
        <img id="meny" src="/img/19-20.jpg" alt="Menú del dia" />
    </div>
</Layout>

<style>
    html {
        padding: 0;
        margin: 0;
        background-color: #ffffff;
    }
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    #meny {
        width: 95vw;
        padding: 0;
        margin: 0;
    }
    @media only screen and (min-width: 1000px) {
        #meny {
            width: 70vw;
        }
    }
</style>
